
<div class="row" style="margin-top:50px">
	<input type="hidden" id="lat" value="{{eventDetail.lat}}" />
	<input type="hidden" id="lng" value="{{eventDetail.lng}}" />
	<div class="col-lg-4">
		<div>
			<h2>{{eventDetail.title}}</h2>
		</div>
		<div>
			<h3><span class="evtDate">{{eventDetail.eventDate}}</span> - {{eventDetail.eventStartTime}} to {{eventDetail.eventEndTime}} </h3>
		</div>
		<div>
			<h3>{{eventDetail.hostedBy}}</h3>
		</div>
		<div>
			<h2>{{eventDetail.locationName}}</h2>
			<h3>{{eventDetail.address}}</h3>
		</div>
		<p>{{eventDetail.instagram}}</p>
		<p><a href={{eventDetail.facebook}} class="btn btn-primary" target="_blank">Facebook Event</a></p>
		<div>
			{{#if eventDetail.paypalButton}}
				<div class="paypalBtnContainer" style="display:none;" >
					<div class="paypalBtnItem">
						{{eventDetail.paypalButton}}
					</div>
				</div>
			{{/if}}
		</div>
		<div>
			
		</div>
	</div>
	<div class="col-lg-8">
		<div id="map" style="height:800px"></div>
	</div>
</div>



    <script>
		function initMap() {
			var latz = document.getElementById("lat").value;
			var lngz = document.getElementById("lng").value;
			var latlng = new google.maps.LatLng(latz, lngz);
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom:15,		
				center: latlng
			});
			var marker = new google.maps.Marker({
				position: latlng,
				map: map
			});
		}	
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyEwU_KjjurmOf6p1MSa0blyhv7TlWH9c&libraries=places&callback=initMap"
        async defer></script>


