
<div class="row">
	{{#if craftevent}}
		<div class="col-md-6">
		   <div class="feature-item">
				<h2 class="text-muted">{{craftevent.title}}</h2>
				<p class="text-muted">{{craftevent.description}}</p>
				<p class="text-muted">{{craftevent.date}}</p>
				<p class="text-muted">{{craftevent.locationName}}</p>
				<p class="text-muted">{{craftevent.address}}</p>
				<button class="btn btn-large btn-primary">Register now</button>
			</div>
		</div>
		<div class="col-md-6">
			
		</div>
	{{/if}}
</div>
