
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Craft Night Out </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#events">Reserve a spot</a>
                    </li>
					<!--
					<li>
					<a class="page-scroll" href="#subscribe">Subscribe</a>
					</li>
					-->
					<!--
					<li>
					<a class="page-scroll" href="#organize">Organize Event</a>
					</li>
					-->
                    <li>
                        <a class="page-scroll" href="#contact">Social Media</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
         <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Craft Night Out - Reserve a spot today!</h1>
                            <a href="#events" class="btn btn-outline btn-xl page-scroll">Reserve your spot</a>
                          <!--  <a href="#subscribe" class="btn btn-outline btn-xl page-scroll">Subscribe</a> -->
                          <!--  <a href="#organize" class="btn btn-outline btn-xl page-scroll">Organize</a> -->
                            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Social Media</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </header>


    <section id="events" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
						{{#if featuredEvents }}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>Upcomming Events. Register Now.</h2>
											<p class="text-muted">Select an event below to view additional details</p>
											<hr>
										</div>
									</div>
								</div>
							{{#each featuredEvents}}
								<div class="col-md-6">
								   <div class="feature-item">
									   <a class="text-muted" href="/events/{{_id}}">
											<h2>{{title}}</h2>
									   </a>
									   <a href="/events/{{_id}}">
											<p class="text-muted">{{description}}</p>
									   </a>
											<p class="text-muted">{{date}}</p>
											<p class="text-muted">{{locationName}}</p>
											<p class="text-muted">{{address}}</p>
									</div>
								</div>
							{{/each}}
						{{else}}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>Coming soon!</h2>
											<p class="text-muted">Please subscribe to our mailing list to get notified when new events are posted!</p>
												<form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
													<input type="email" class="form-control" placeholder="Enter email" required />
													<input type="submit" id="btnSubmit" class="btn btn-success" value="Subscribe" />
												</form>
											<hr>
										</div>
									</div>
								</div>
						{{/if}}
                        </div>
                </div>
            </div>
    </section>
    
	<section id="contact" class="features contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-email">
                    <a href="mailto:fredp613@gmail.com?Subject=Craft%20Night%20Out%20Inquiry"><i class="fa fa-envelope"></i></a>
                </li>
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-rss"></i></a>
                </li>
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </section>
	<!--
	<section id="subscribe" class="contact bg-primary">
	<div class="row">
	<h2>Subscribe to get updated when new craft events are organized!</h2>
	<div class="col-md-6-offset-3">	
	<form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
	<input type="email" class="form-control" placeholder="Enter email" required />
	<input type="submit" id="btnSubmit" class="btn btn-primary" value="Subscribe" />

	</form>
	</div>
	</div>
	</section>
	-->

    
	<!--
	<section id="organize" class="features bg-primary text-center">
	<div class="container">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2 class="section-heading">Let us help you organize an event !</h2>
	<p>Coming soon!</p>
	<div class="badges">
	</div>
	</div>
	</div>
	</div>
	</section>
	-->
	


