
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(0,0,0,0.8);padding:10px;border:none;">
						 <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
				<div class="text-center">
					<a class="navbar-brand page-scroll" href="#page-top" style="font-size:25px">SHARING THE EXPERIENCE OF ADULT CRAFT TOGETHER</a>
				</div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<!--
			<ul class="nav navbar-nav navbar-right">
			<li>
			<a class="page-scroll" href="#events">Events</a>
			</li>
			<li>
			<a class="page-scroll" href="#contact">Social Media</a>
			</li>
			</ul>
			</-->
            </div>
        </div>
    </nav>
	<div class="row" style="margin-top:75px"> 
		<div style="height:200px;padding:20px">
			<div class="text-center">
				<img src="../img/FB-Profile-Foil.jpg" style="opacity:0.8" height="200" width="200" >
			</div>
		</div>
	</div>

    <header style="margin-left:20px;margin-right:20px">
		 <nav id="headerNav" class="navbar navbar-brand2" style="margin:10,10,10,10;border-color:white">
				<div class="row"style="background-color:white;border-color:white;padding:0px;margin:0px">
					<div class="" style="text-align:center;">
						<ul class="nav navbar-nav" style="display:inline-block;float:none;">
							<li>
								<a class="page-scroll" href="#events" style="font-size:27px">Upcoming Events</a>
							</li>
							<li>
								<a class="page-scroll" href="#host" style="font-size:27px">Host an Event</a>
							</li>
							<!--<li>
								<a class="page-scroll" href="#events" style="font-size:27px">Gallery</a>
							</li>-->
							<li>
								<a class="page-scroll" href="#contact" style="font-size:27px">About Us </a>
							</li>
							<li>
								<a href="http://www.stampcraftlove.com" target="_blank" style="font-size:27px">Blog</a>
							</li>
						</ul>
					</div>
				</div>
		</nav>
            <div class="row" >
				<div class="col-sm-8" style="height:200px">
					<img src="../img/main.jpg" class="img-responsive" style="float:none;">
				</div>
				<div class="col-sm-4" >
					<div style="height:600px;">
						<div class="row partRestaurants text-center">
							<div class="col-lg-12">
								<h2 style="color:black;">Participating Restaurants</h2>
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<!--<img src="http://placehold.it/150x150" class="center-block"> -->
								<img src="../img/flapjacks-logo.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/green-papaya-logo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/HPH-log.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/Industria-logo.gif" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/Kinkilogo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/KS-on-the-keys.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/Salt-logo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-4 thumb" style="padding:10px">
								<img src="../img/vittoria-in-the-village.jpg" width=150 height=150 class="center-block">
							</div>
						</div>
						<div class="row social text-center">
						<!-- <section id="contact" class="features contact" style="background:none;">
						-->	<h2 style="color:black;">We <i class="fa fa-heart"></i> new friends!</h2>
							<ul class="list-inline list-social">
								<li class="social-twitter">
									<a href="https://www.instagram.com/craft.night.out/" 
										target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
								<li class="social-facebook">
									<a href="https://www.facebook.com/craftnightout.ca/" 
										target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="social-rss">
									<a href="http://www.stampcraftlove.com" 
										target="_blank"><i class="fa fa-rss"></i></a>
								</li>
								<!--
								<li class="social-email">
								<a href="mailto:francesca@stampcraftlove.com?Subject=Craft%20Night%20Out%20Inquiry">
								<i class="fa fa-envelope"></i></a>
								</li>
								</-->
							</ul>
						<!-- </section> -->

						</div>
						<div class="row text-center">
						  <h2 style="color:black;">New Events, fun news, and all things crafty!</h2>
					 	  <form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
							<input type="email" id="txtEmail" 
									class="form-control" placeholder="enter email" required />
							<input type="submit" id="btnSubmit" style="margin:5px" class="btn btn-success" 
								value="Subscribe" />
						  </form>
						</div>
					</div>
				</div>
			 <!--	<div class="header-content">
                    </div> -->
            </div>
    </header>


    <section id="events" class="features">
        <div class="container">
						{{#if featuredevents }}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>upcomming events. register now.</h2>
											<p class="text-muted">select an event below to view additional details</p>
											<hr>
										</div>
									</div>
								</div>
							{{#each featuredevents}}
								<div class="col-md-6">
								   <div class="feature-item">
									   <a class="text-muted" href="/events/{{_id}}">
											<h2>{{title}}</h2>
									   </a>
									   <a href="/events/{{_id}}">
											<p class="text-muted">{{description}}</p>
									   </a>
											<p class="text-muted">{{date}}</p>
											<p class="text-muted">{{locationname}}</p>
											<p class="text-muted">{{address}}</p>
									</div>
								</div>
							{{/each}}
						{{else}}
								<div class="row text-center">
									<div class="section-heading">
										<h2>~ Upcomming Events ~</h2>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<h2>Cardmaking</h2>
										<div id="carousel" class="carousel slide" data-ride="carousel">
											<!-- Menu -->
											<ol class="carousel-indicators">
												<li data-target="#carousel" data-slide-to="0" class="active"></li>
												<li data-target="#carousel" data-slide-to="1"></li>
												<li data-target="#carousel" data-slide-to="2"></li>
												<li data-target="#carousel" data-slide-to="3"></li>
												<li data-target="#carousel" data-slide-to="4"></li>
											</ol>
											
											<!-- Items -->
											<div class="carousel-inner" >
												<div class="item active">
													<img src="../img/DSC09845s.jpg" alt="Slide 1" />
												</div>
												<div class="item">
													<img src="../img/DSC09688x.jpg" alt="Slide 2" />
												</div>
												<div class="item">
													<img src="../img/DSC09671x.jpg" alt="Slide 3" />
												</div>
												<div class="item">
													<img src="../img/DSC09923x.jpg" alt="Slide 4" />
												</div>
												<div class="item">
													<img src="../img/DSC09939x.jpg" alt="Slide 5" />
											</div> 
											<a href="#carousel" class="left carousel-control" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left"></span>
											</a>
											<a href="#carousel" class="right carousel-control" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right"></span>
											</a>
										</div>
									</div>
									<h2>January</h2>
									<div id="event-info-1" style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
										<h3>Thursday, January 26, 2017 from 7-9pm</h3>
										<strong style="font-size:20px">All-Occasion Greeting Cards using Japanese Paper </strong>
										<h4>Hosted by: Stampcraftlove (Fay) </h4>
										<a href="www.kinkiloungekitchen.com" target="_blank" style="font-size:20px">Kinki Lounge & Kitchen</a>
										<h4>41 York Street, Ottawa</h4>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="MUFRWWW7865FN">
											<table>
											<tr><td><input type="hidden" name="on0" value="Number of Tickets">Number of Tickets</td></tr><tr><td><select name="os0">
												<option value="1 Ticket">1 Ticket $25.00 CAD</option>
												<option value="2 Tickets">2 Tickets $50.00 CAD</option>
												<option value="3 Tickets">3 Tickets $75.00 CAD</option>
												<option value="4 Tickets">4 Tickets $100.00 CAD</option>
											</select> </td></tr>
											<tr><td><input type="hidden" name="on1" value="Coupon Code">Coupon Code</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
											</table>
											<input type="hidden" name="currency_code" value="CAD">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>

									</div>
									<div id="event-info-2" style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
										<h3>Sunday, January 29, 2017 from 7-9pm</h3>
										<strong style="font-size:20px">Valentines Day Card, Gift and Treat Box </strong>
										<h4>Hosted by: Stampcraftlove (Fay) </h4>
									<a href="www.flapjacks.ca" target="_blank" style="font-size:20px">Flapjacks Canadian Dinner - Little Italy</a>
										<h4>354A Preston Street, Ottawa</h4>
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
										<input type="hidden" name="cmd" value="_s-xclick">
										<input type="hidden" name="hosted_button_id" value="HMXAX7RY6F8XA">
										<table>
										<tr><td><input type="hidden" name="on0" value="Number of Tickets">Number of Tickets</td></tr><tr><td><select name="os0">
											<option value="1 Ticket">1 Ticket $25.00 CAD</option>
											<option value="2 Tickets">2 Tickets $50.00 CAD</option>
											<option value="3 Tickets">3 Tickets $75.00 CAD</option>
											<option value="4 Tickets">4 Tickets $100.00 CAD</option>
										</select> </td></tr>
										<tr><td><input type="hidden" name="on1" value="Coupon Code">Coupon Code</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
										</table>
										<input type="hidden" name="currency_code" value="CAD">
										<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
										<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
										</form>

									</div>
								


									<h2>February<h2>
									<div id="event-info-3" style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
										<h3>Wednesday, February 8th, 2017 from 7-9PM </h3>
										<strong style="font-size:20px">Valentines Day Card, Gift and Treat Box </strong>
										<h4>Hosted by: Stampcraftlove (Fay) </h4>
										<a href="www.makerhouse.com" target="_blank" style="font-size:20px">Maker House & Co (SPECIAL EVENT)</a>
										<h4>987 Wellington Street West – Hintonburg</h4>
									</div>
									<div id="event-info-4" style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
										<h3>Monday, February 27th, 2017 from 7-9PM </h3>
										<strong style="font-size:20px">Handmade Juvenile Birthday Cards</strong>
										<h4>Hosted by: Stampcraftlove (Fay) </h4>
										<a href="www.makerhouse.com" target="_blank" style="font-size:20px">Industria Italian Brasserie – Landsdowne Park</a>
										<h4>225 Marche Way</h4>
									</div>

										
									
								</div>
									<div class="col-lg-6">
										<h2>Jewlery Making</h2>
										<div id="carousel_x" class="carousel slide" data-ride="carousel">
											<!-- Menu -->
											<ol class="carousel-indicators">
												<li data-target="#carousel_x" data-slide-to="0" class="active"></li>
												<li data-target="#carousel_x" data-slide-to="1"></li>
											</ol>
											
											<!-- Items -->
											<div class="carousel-inner" >
												<div class="item active">
													<img src="../img/_DSC2299.JPG"  alt="Slide 1" />
												</div>
												<div class="item">
													<img src="../img/IMG_6783.JPG"  alt="Slide 2" />
												</div>
											<a href="#carousel_x" class="left carousel-control" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left"></span>
											</a>
											<a href="#carousel_x" class="right carousel-control" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right"></span>
											</a>
										</div>
									<h2>February 2017</h2>
									<div id="event-info-5" style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
										<h3>Sunday, February 19th, 2017 from 7-8:30PM </h3>
										<strong style="font-size:20px">Gemstone Bracelets</strong>
										<h4>Hosted by: Gemma By Design </h4>
										<a href="www.thesavoybrasserie.com" target="_blank" style="font-size:20px">The Savoy Brasserie</a>
										<h4>344 Richmond Road, Westboro</h4>
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="MUFRWWW7865FN">
												<table>
												<tr><td><input type="hidden" name="on0" value="Number of Tickets">Number of Tickets</td></tr><tr><td><select name="os0">
													<option value="1 Ticket">1 Ticket $25.00 CAD</option>
													<option value="2 Tickets">2 Tickets $50.00 CAD</option>
													<option value="3 Tickets">3 Tickets $75.00 CAD</option>
													<option value="4 Tickets">4 Tickets $100.00 CAD</option>
												</select> </td></tr>
												<tr><td><input type="hidden" name="on1" value="Coupon Code">Coupon Code</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
												</table>
												<input type="hidden" name="currency_code" value="CAD">
												<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
												</form>

									</div>
									</div>
								</div>
								</div>

	
						{{/if}}
                        </div>
    </section>
    
	<section id="contact" class="features contact bg-primary">
        <div class="container">
            <h2>About Us</h2>
			<span style="font-size:25px">
				Craft Night Out (CNO) highlights the social aspect of crafting by combining creativity with friends, food and drinks at local restaurants.  Our events feature dynamic and out-going crafters/artisans who supply all necessary materials  to complete a craft project so you don’t have to!
			</span> <br><br><br>
			<spani style="font-size:25px">
NO started with my love of cutting, pasting and hosting parties. I hosted craft parties in my home with fancy apps and wine while friends worked a variety of craft projects that they brought themselves… Fun, right?! Actually, it was so fun that my craft night in soon became Craft Night Out! 
			</span>
		<br><br>	
			<strong style="color:black;">
				Fay McConnell,<br> 
				Creator and Owner<br>
				Craft Night Out<br>
				IG: @craft.night.out<br>
				FB: @craftnightout.ca

			</strong>
        </div>
    </section>
	<!--
	<section id="subscribe" class="contact bg-primary">
	<div class="row">
	<h2>Subscribe to get updated when new craft events are organized!</h2>
	<div class="col-md-6-offset-3">	
	<form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
	<input type="email" class="form-control" placeholder="Enter email" required />
	<input type="submit" id="btnSubmit" class="btn btn-primary" value="Subscribe" />

	</form>
	</div>
	</div>
	</section>
	-->

    
	
	<section id="host" class="features bg-primary text-center">
	<div class="container">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2 class="section-heading">Let us help you organize an event !</h2>
	<p>Coming soon!</p>
	<div class="badges">
	</div>
	</div>
	</div>
	</div>
	</section>

	

