
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(0,0,0,0.8);padding:10px;border:none;">
            <div class="navbar-header">
					<a class="navbar-brand page-scroll" href="#page-top" style="font-size:19px">SHARING THE EXPERIENCE OF ADULT CRAFTING TOGETHER</a>
            </div>

    </nav>
	<div class="row text-center" style="margin-top:85px"> 
				<img src="../img/FB-Profile-Foil.jpg" style="opacity:0.8" height="200" width="200" >
	</div>

    <header style="margin-left:20px;margin-right:20px">
		 <nav id="headerNav" class="navbar navbar-brand2" style="margin:10,10,10,10;border-color:white">
				<div class="row"style="background-color:white;border-color:white;padding:0px;margin:0px">
					<div class="" style="text-align:center;">
						<ul class="nav navbar-nav" style="display:inline-block;float:none;">
							<li>
								<a class="page-scroll" href="#events" style="font-size:27px">Upcoming Events</a>
							</li>
							<li>
								<a class="page-scroll" href="#host" style="font-size:27px">Host an Event</a>
							</li>
							<!--<li>
								<a class="page-scroll" href="#events" style="font-size:27px">Gallery</a>
							</li>-->
							<li>
								<a class="page-scroll" href="#contact" style="font-size:27px">About Us </a>
							</li>
							<li>
								<a href="https://medium.com/@CraftNightOut/" target="_blank" style="font-size:27px">Blog</a>
							</li>
							<li>
								<a href="https://www.facebook.com/pg/craftnightout.ca/photos/?tab=albums" target="_blank" style="font-size:27px">Gallery</a>
							</li>
						</ul>
					</div>
				</div>
		</nav>
            <div class="row">
						<!-- <img src="../img/main.jpg" style="float:none;display:block;max-height:850px;max-width:1100px;width:auto;height:auto;margin-right:20%;margin-left:10%" > -->
						<!--<img src="../img/main.jpg"  style="max-height:500px" > -->
						<div class="col-lg-12">
						<img src="../img/main1.jpg" class="img-responsive text-center" style="">
						</div>

			 <!--	<div class="header-content">
                    </div> -->
            </div>
				<div class="row" >
					<div >
						<div class="row partRestaurants text-center">
							<div class="col-lg-12">
								<h2 style="color:black;font-size:40px">Participating Restaurants</h2>
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<!--<img src="http://placehold.it/150x150" class="center-block"> -->
								<img src="../img/flapjacks-logo.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/green-papaya-logo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/HPH-log.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/Industria-logo.gif" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/Kinkilogo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/KS-on-the-keys.png" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/Salt-logo.jpg" width=150 height=150 class="center-block">
							</div>
							<div class="col-lg-3 thumb" style="padding:10px">
								<img src="../img/vittoria-in-the-village.jpg" width=150 height=150 class="center-block">
							</div>
						</div>
						<div class="row social text-center">
						<!-- <section id="contact" class="features contact" style="background:none;">
						-->	<h2 style="color:black;font-size:50px">We <i class="fa fa-heart" style="color:red;"></i> new friends!</h2>
							<ul class="list-inline list-social">
								<li class="social-twitter" style="height:50px;font-size:30px">
									<a href="https://www.instagram.com/craft.night.out/" 
										target="_blank"><i class="fa fa-instagram"></i></a>
								</li>
								<li class="social-facebook" style="font-size:30px">
									<a href="https://www.facebook.com/craftnightout.ca/" 
										target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="social-rss" style="font-size:30px">
									<a href="https://medium.com/@CraftNightOut/" 
										target="_blank"><i class="fa fa-rss"></i></a>
								</li>
								<!--
								<li class="social-email">
								<a href="mailto:francesca@stampcraftlove.com?Subject=Craft%20Night%20Out%20Inquiry">
								<i class="fa fa-envelope"></i></a>
								</li>
								</-->
							</ul>
						<!-- </section> -->

						</div>
						<div class="row text-center">
						  <h2 style="color:black;">New events, fun news, and all things crafty!</h2>
					 	  <form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
							<input type="email" id="txtEmail" 
									class="form-control input-lg" placeholder="enter email" required />
							<input type="submit" id="btnSubmit" style="margin:5px" class="btn btn-lg btn-success" 
								value="Subscribe" />
						  </form>
						</div>
					</div>
				</div>
    </header>
    <section id="events" class="features">
        <div class="container">
			<div class="row text-center">
				<div class="section-heading">
					<h2> Upcoming Events </h2>
				</div>
			</div>
				{{#each events}}
			<div class="row">
						{{#if imgId}}
							<div class="col-lg-4" >
								<img src="{{imgId}}" class="img-responsive">
							</div>
						{{/if}}
						<div class="col-lg-5"  >
							<a href="/events/{{_id}}">
								<h2>{{title}}</h2>
								<h3><span class="evtDate">{{eventDate}}</span> - {{eventStartTime}} to {{eventEndTime}} </h3>
							</a>
								<strong style="font-size:20px">Event type: {{eventType}} </strong>
							<h4>Hosted By: {{hostedBy}} </h4>
							<div style="max-height:140px;">
							{{#if description}}
							<blockquote>
								{{description}}
								{{#if ellipsys}}
									<strong>
										<a href="/events/{{_id}}" style="font-style:oblique">view more</a>
									</strong>
								{{/if}}
							</blockquote>
							{{/if}}
							</div>
						</div>
						<div class="col-lg-3">
							{{#if locationWebsite}}
							<a href={{locationWebsite}} target="_blank" style="font-size:20px">{{locationName}}</a>
							{{else}}
							<span style="font-size:20px">{{locationName}}</span>
							{{/if}}
							<h4>{{address}}</h4>
							{{#if paypalButton}}
								<div class="paypalBtnContainer" style="display:none;" >
									<div class="paypalBtnItem">
										{{paypalButton}}
									</div>
								</div>
							{{/if}}
						
						</div>
			</div><hr>
						<div class="clearfix"></div>
				{{/each}}


	
			<div class="row">
			<h2 class="text-center">Refund Policy</h2>
			<p class="text-center">

			Please note that there are no refunds on ticket purchases and gift certificates.  Due to the nature of our events where seats are reserved, we are unable to move your registration to a different date. Instead, you are able to transfer your registration to another person for that date you are registered.<br>
			Weather: We are unable to refund or transfer your registration to a different date due to weather conditions. Exception: Refunds will be issued and registration date transfers will be permitted only if the event is cancelled by Craft Night Out.</p>
			</div>
			</div>
    </section>
    
	<!--
	<section id="subscribe" class="contact bg-primary">
	<div class="row">
	<h2>subscribe to get updated when new craft events are organized!</h2>
	<div class="col-md-6-offset-3">	
	<form id="frmsubscribe" action="/subcribers/create"  class="form-inline">
	<input type="email" class="form-control" placeholder="enter email" required />
	<input type="submit" id="btnsubmit" class="btn btn-primary" value="subscribe" />

	</form>
	</div>
	</div>
	</section>
	-->

    
	
	<section id="host" class="features bg-primary">
	<div class="container">
				<h2 class="text-center">Host an Event</h2>
				<h3 class="text-center">If you are interested in hosting a Craft Night Out event, you can! There are 3 ways:</h3><br>
				<h3 class="text-center"><a href="/eventhostings/new/crafter" alt="Crafter-Artisan">Crafter/Artisan</a></h3><br>
				<h3 class="text-center"><a href="/eventhostings/new/eatery" alt="Eatery">Eatery</a></h3><br>
				<h3 class="text-center"><a href="/eventhostings/new/private" alt="Private Events">Private Events</a></h3><br>
	</div>
	</section>
	
	<section id="contact" class="features contact bg-primary">
        <div class="container">
            <h2>About Us</h2>
			<span style="font-size:25px">
				Craft Night Out (CNO) highlights the social aspect of crafting by combining creativity with friends, food and drinks at local restaurants.  Our events feature dynamic and out-going crafters/artisans who supply all necessary materials  to complete a craft project so you don’t have to!
			</span> <br><br><br>
			<spani style="font-size:25px">
CNO started with my love of cutting, pasting and hosting parties. I hosted craft parties in my home with fancy apps and wine while friends worked a variety of craft projects that they brought themselves… Fun, right?! Actually, it was so fun that my craft night in soon became Craft Night Out. Happy crafting!</span>
		<br><br>	
			<strong style="color:black;">
				Fay McConnell<br> 
				Creator and Owner<br>
				Craft Night Out<br>
				IG: <a href="https://www.instagram.com/craft.night.out/">@craft.night.out</a><br>
				FB: <a href="https://www.facebook.com/craftnightout.ca/">@craftnightout.ca</a>
			</strong>
			<hr>
			<h2>Inquiries</h2>
			<strong style="color:black;">
				email: <a href="mailto:francesca@stampcraftlove.com?Subject=Craft%20Night%20Out%20Inquiry">francesca@stampcraftlove.com</a><hr>
				phone: (613) 286-5605 - Weekdays: 4pm-9pm / Weekends: 8am-9pm
			</strong>
        </div>
    </section>

	

