
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Craft Night Out </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#events">Events</a>
                    </li>
					<!--
					<li>
					<a class="page-scroll" href="#subscribe">Subscribe</a>
					</li>
					-->
					<!--
					<li>
					<a class="page-scroll" href="#organize">Organize Event</a>
					</li>
					-->
                    <li>
                        <a class="page-scroll" href="#contact">Social Media</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
         <div class="container-fluid" style="background-color:rgba(0,0,0,0.7);">
            <div class="row">
                <div class="col-sm-offset-4">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 style="text-align:center">craftnightout.ca</h1>
                            <h1 style="text-align:center">Coming soon!</h1>
                            <h1 style="text-align:center">~ Ottawa, Ontario ~</h1>
                            <a href="#events" class="btn btn-outline btn-xl page-scroll">Events</a>
                            <a href="http://www.stampcraftlove.com" target="_blank" class="btn btn-outline btn-xl">Blog</a>
                          <!--  <a href="#subscribe" class="btn btn-outline btn-xl page-scroll">subscribe</a> -->
                          <!--  <a href="#organize" class="btn btn-outline btn-xl page-scroll">organize</a> -->
                            <a href="#contact" class="btn btn-outline btn-xl page-scroll">Follow Along</a>
							<hr>
							<hr>
							<hr>
							<div class="row">	
							  <div class="col-md-offset-2">	
								 <!-- <form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
									<input type="email" id="txtEmail" class="input-lg form-control" placeholder="enter email" required />
									<input type="submit" id="btnSubmit" class="btn btn-lg btn-success" value="subscribe" />
								</form> -->
								
							  </div>	
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="events" class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
						{{#if featuredevents }}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>upcomming events. register now.</h2>
											<p class="text-muted">select an event below to view additional details</p>
											<hr>
										</div>
									</div>
								</div>
							{{#each featuredevents}}
								<div class="col-md-6">
								   <div class="feature-item">
									   <a class="text-muted" href="/events/{{_id}}">
											<h2>{{title}}</h2>
									   </a>
									   <a href="/events/{{_id}}">
											<p class="text-muted">{{description}}</p>
									   </a>
											<p class="text-muted">{{date}}</p>
											<p class="text-muted">{{locationname}}</p>
											<p class="text-muted">{{address}}</p>
									</div>
								</div>
							{{/each}}
						{{else}}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>~ Events ~</h2>
											<h1>coming soon!</h1>
											<p class="text-muted">Please sign up for information on new events, fun news and all things crafty!</p>
											<div class="container">
												<div class="row">
													<div class="col-md-12">
													<h3 class="col-md-5" style="text-align:right;">January 15 <br> January 26 <br> January 29</h3>
													  <div style="height:100px"><a href="http://www.stampcraftlove.com/craft-night-out-.html" class="col-md-3 btn btn-primary" target="_blank" style="top:40%">Reserve your spot</a></div>
													</div>
												</div>
											</div>
											<hr>
										</div>
										 <form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
											<input type="email" id="txtEmail" class="input-lg form-control" placeholder="enter email" required />
											<input type="submit" id="btnSubmit" class="btn btn-lg btn-success" value="Sign Up" />
										</form>
									</div>
								</div>
						{{/if}}
                        </div>
                </div>
            </div>
    </section>
    
	<section id="contact" class="features contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="https://www.instagram.com/craft.night.out/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.facebook.com/craftnightout.ca/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-email">
                    <a href="mailto:fredp613@gmail.com?Subject=Craft%20Night%20Out%20Inquiry"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
        </div>
    </section>
	<!--
	<section id="subscribe" class="contact bg-primary">
	<div class="row">
	<h2>Subscribe to get updated when new craft events are organized!</h2>
	<div class="col-md-6-offset-3">	
	<form id="frmSubscribe" action="/subcribers/create"  class="form-inline">
	<input type="email" class="form-control" placeholder="Enter email" required />
	<input type="submit" id="btnSubmit" class="btn btn-primary" value="Subscribe" />

	</form>
	</div>
	</div>
	</section>
	-->

    
	<!--
	<section id="organize" class="features bg-primary text-center">
	<div class="container">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h2 class="section-heading">Let us help you organize an event !</h2>
	<p>Coming soon!</p>
	<div class="badges">
	</div>
	</div>
	</div>
	</div>
	</section>
	-->
	


