
<section id="features" class="features">
<div class="row">
	<button class="btn btn-primary">Add New Event</button>

</div>
	{{#if events}}
								<div class="row">
									<div class="col-lg-12 text-center">
										<div class="section-heading">
											<h2>Events in the system.</h2>
											<hr>
										</div>
									</div>
								</div>
		{{#each events}}
								<div class="col-md-6">
								   <div class="feature-item">
									<a href="/events/{{_id}}">
										<i class="icon-present text-primary"></i>
								   </a>
								   <a href="/events/{{_id}}">
										<h3>{{title}}</h3>
								   </a>
								   <a href="/events/{{_id}}">
										<p class="text-muted">{{description}}</p>
								   </a>
									</div>
									<button class="btn btn-danger">Delete</button>
								</div>
		{{/each}}
	{{/if}}
</section>



