


<section id="features" class="features">
<div class="row-fluid">
	<a class="btn btn-primary" href="/admins/evts/new">Add New Event</a>
</div>
	{{#if events}}
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-heading">
							<h2>Events in the system.</h2>
							<hr>
						</div>
					</div>
				</div>
		{{#each events}}
			<div class="row">
						{{#if imgId}}
						<div class="col-lg-4" >
							<img src="../{{imgId}}" class="img-responsive">
							<!--<img src="../../c100eb4a700a5886426ca8ee45035817.jpg" class="img-responsive"> -->
						</div>
						{{/if}}
						<div class="col-lg-5"  >
							<a href="/admins/evts/edit/{{_id}}" class="btn btn-info">Edit</a>
							<a href="/admins/evts/destroy/{{_id}}" class="btn btn-danger">Destroy</a>
							{{#if isPrivate}}
								<h2>PRIVATE EVENT</h2>
							{{/if}}
							<a href="/events/{{_id}}">
								<h2>{{title}}</h2>
								<h3><span class="evtDate">{{eventDate}}</span> - {{eventStartTime}} to {{eventEndTime}} </h3>
							</a>
								<strong style="font-size:20px">Event type: {{eventType}} </strong>
							<h4>Hosted By: {{hostedBy}} </h4>
							<div style="max-height:140px;text-overflow:ellipsis;overflow-y:scroll">
							{{#if description}}
							<blockquote>
								{{description}}
							</blockquote>
							{{/if}}
							</div>
							<h3>Share: https://craftnightout.ca/events/{{_id}}</h3>
						</div>
						<div class="col-lg-3">
							{{#if locationWebsite}}
							<a href={{locationWebsite}} target="_blank" style="font-size:20px">{{locationName}}</a>
							{{else}}
							<span style="font-size:20px">{{locationName}}</span>
							{{/if}}
							<h4>{{address}}</h4>
							{{#if paypalButton}}
								<div class="paypalBtnContainer" style="display:none;" >
									<div class="paypalBtnItem">
										{{paypalButton}}
									</div>
								</div>
							{{/if}}
						
						</div>
			</div><hr>
						<div class="clearfix"></div>
		{{/each}}
	{{/if}}
</section>



