
<section id="features" class="features">
<div class="row-fluid">
	<a class="btn btn-primary" href="/admins/evts/new">Add New Event</a>
</div>
	{{#if events}}
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-heading">
							<h2>Events in the system.</h2>
							<hr>
						</div>
					</div>
				</div>
		{{#each events}}
				<div style="margin:10px;border-style:solid;border-width:0.1px;padding:5px;border-color:grey">
					{{#if isPrivate}}
						<h2>PRIVATE EVENT</h2>
					{{/if}}
					<span id="eventDate" style="display:none;">{{eventDate}}</span>
					<h3>{{eventType}} </h3>
	
					<h3><span class="evtDate">{{eventDate}}</span> - {{eventStartTime}} to {{eventEndTime}} </h3>
					<strong style="font-size:20px">{{title}} </strong>
					<h4>{{hostedBy}} </h4>
					{{#if description}}
					<blockquote>
						{{description}}
					</blockquote>
					{{/if}}
					{{#if locationWebsite}}
					<a href={{locationWebsite}} target="_blank" style="font-size:20px">{{locationName}}</a>
					{{else}}
					<span style="font-size:20px">{{locationName}}</span>
					{{/if}}
					<h4>{{address}}</h4>
					{{#if paypalButton}}
						<div class="paypalBtnContainer" >
							<div class="paypalBtnItem">
								{{paypalButton}}
							</div>
						</div>
					{{/if}}
					<a href="/admins/evts/edit/{{_id}}" class="btn btn-info">Edit</a>
					<a href="/admins/evts/destroy/{{_id}}" class="btn btn-danger">Destroy</a>
					<h3>Share: https://craftnightout.ca/events/{{_id}}</h3>
				</div>
		{{/each}}
	{{/if}}
</section>



