

<div class="row-fluid">
{{#if subscribers}}
	<h3 class="text-right">Total Subscribers: {{totalSubs}} </h3>
	<p>
		<a href="mailto:?bcc=
		{{#each subscribers}}
		{{email}},
		{{/each}}" class="btn btn-success">Email Subscribers</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>Subscribers</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{#each subscribers}}
				<tr id={{_id}}>
					<td><a href="#" class="email" id={{_id}}>{{email}}</a></td>
					<td><a href="/admins/subscribers/destroy/{{_id}}" class="btn btn-danger">Destroy</a><td>
				</tr>
				
			{{/each}}
		</tbody>
	</table>
{{/if}}
</div>


<script>
</script>
